@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: #14476c; 
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 450px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-header h2 {
    color: #1976d2; 
    font-size: 1.5rem;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #1976d2; 
    padding: 10px;
}

.btn {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background-color: #1976d2; 
    color: #ffffff; 
    border: none;
}

.btn:hover {
    background-color: #1565c0; 
}

.alert {
    margin-bottom: 20px;
}

.text-danger {
    font-size: 0.875rem;
}